@font-face {
	font-family:"Fira Sans";
	font-weight:100;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-Thin.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:100;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-ThinItalic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:200;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-ExtraLight.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:200;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-ExtraLightItalic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:300;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-Light.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:300;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-LightItalic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:400;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-Regular.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:400;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-Italic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:500;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-Medium.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:500;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-MediumItalic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:600;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-SemiBold.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:600;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-SemiBoldItalic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:700;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-Bold.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:700;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-BoldItalic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:800;
	font-style:normal;
	src:url("fonts/Fira_Sans/FiraSans-ExtraBold.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:800;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-ExtraBoldItalic.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:900;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-Black.ttf");
}

@font-face {
	font-family:"Fira Sans";
	font-weight:900;
	font-style:italic;
	src:url("fonts/Fira_Sans/FiraSans-BlackItalic.ttf");
}

@keyframes scaler {
	0% {
		transform:scale(1);
	}
	24% {
		transform:scale(1);
	}
	36% {
		transform:scale(1.125);
	}
	48% {
		transform:scale(0.92);
	}
	60% {
		transform:scale(1.125);
	}
	72% {
		transform:scale(0.92);
	}
	100% {
		transform:scale(1);
	}
}

body {
	background-color:black;
	color:#DCDCD8;
	font-family:
		"Fira Sans",
		"Open Sans",
		"Helvetica Neue",
		"Helvetica",
		"Arial",
		sans-serif;
	margin:0;
	padding:0;
	font-size:11pt;
}

body, html {
	position:fixed;
	width:100vw;
	height:100vh;
	overflow:hidden;
}

* {
	outline:none;
}

a {
	color:#64c4b8;
}

a img {
	border:none;
}

button {
	border:none;
	background-color:#64c4b8;
	text-shadow:1px 1px 2px rgba(0, 0, 0, 0.36);
	color:#DCDCD8;
	text-align:center;
	padding:9pt 13pt;
	font-size:16pt;
}

h1, h2, h3, h4, h5, h6 {
	margin:1em 0;
}

h1 {
	font-size:48pt;
	font-weight:900;
	padding-top:0.25em;
	border-top:3px solid;
}

h2 {
	font-size:30pt;
	font-weight:500;
	font-style:italic;
}

h3 {
	font-style:18pt;
	font-weight:700;
}

h4 {
	font-size:16pt;
	font-weight:600;
	font-style:italic;
}

h5, h6 {
	font-size:14pt;
	font-weight:500;
}

body > section, body > section > canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

body > section {
	--padding:20pt;
	left:-100vw;
	opacity:0;
	width:calc(100vw - var(--padding) * 2);
	height:calc(100vh - var(--padding) * 2);
	padding:var(--padding);
	transition:opacity 500ms linear 0s;
}

#loading_screen {
	background-color:black;
	z-index:10;
}

#loading_screen img {
	position:absolute;
	--width:33vw;
	top:calc(48% - var(--width) / 2);
	left:calc(50% - var(--width) / 2);
	width:var(--width);
	height:var(--width);
	animation:scaler 2s ease-out 0s infinite;
	filter:drop-shadow(0 0 20px rgba(255, 255, 255, 0.36));
}

#install_prompt button,
#globe_view button {
	position:absolute;
	left:40pt !important;
	bottom:80pt;
	width:calc(100% - 80pt);
	z-index:10;
	transition:opacity 500ms ease-in-out 10ms;
}

#searchbar {
	display:none;
	position:absolute;
	--padding:20px;
	padding:var(--padding);
	width:calc(100% - var(--padding) * 2);
}

#searchbar input {
	padding:7px 10px;
	font-size:12pt;
}

